[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = ["*/cache"]
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.15.0.tar.gz"
    exact = true
    stripComponents = 1

{{ if lt (output "tmux" "-V") "tmux 2.4" }}
[".tmux.conf"]
    type = "file"
    url = "https://raw.githubusercontent.com/alekseik1/chezmoi-setup/master/.tmux.conf.old"
{{ else }}
[""]
    type = "archive"
    url = "https://github.com/gpakosz/.tmux/archive/fd1bbb56148101f4b286ddafd98f2ac2dcd69cd8.zip"
    extract = true
    stripComponents = 1
    refreshPeriod = "168h"
    include = ["*/.tmux.conf"]
{{ end }}
