[core]
    editor = vim
    filemode = true
    autocrlf = input
[user]
    email = 1alekseik1@gmail.com
    name = alekseik1
{{- /* If git_gpg_key is set as variable, use it as key */ -}}
{{ if ne (get . "git_gpg_key") "" }}
    signingkey = {{ .git_gpg_key }}
{{ end }}
[help]
    autocorrect = 1
[color]
    ui = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = true
[difftool]
    prompt = false
[mergetool ""]
    prompt = true
[alias]
    d = difftool
    st = status
    br = branch
    ci = commit
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    make-changelog = log --pretty=format:\"- %s\"
[push]
    default = simple
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[http]
    postBuffer = 157286400
[pull]
    rebase = true
{{ if ne (get . "git_gpg_key") "" }}
[gpg]
    program = /usr/local/bin/gpg
[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = true
{{ end }}

[init]
    defaultBranch = main
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[includeIf "hasconfig:remote.*.url:git@gitlab.gid.team:*/**"]
    path = ~/.gitconfig.gid

# [includeIf "gitdir:~/bonsai/"]
#     path = ~/.gitconfig.bonsai

